<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand mb-1" href="{{ url_for('core.index') }}">
        <img src="{{ url_for('static', filename='img/sei_barra.svg') }}" alt="SEI" width="36" height="28.8">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('core.index') }}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Operações
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('bloqueio.index') }}">Bloqueio</a></li>
              <li><a class="dropdown-item" href="#">Exclusão</a></li>
              <li><a class="dropdown-item" href="#">Reabertura</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Operações em lote</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('configuracao.index') }}">Configurações</a>
          </li>
        </ul>
        <a class="btn btn-secondary" href="{{ url_for('login.logout') }}" role="button">Sair</a>
      </div>
    </div>
  </nav>